@font-face {
  font-family: 'Seattle Sans';
  src: url('seattle_sans-webfont.woff2') format('woff2'),
       url('seattle_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
