.thumbnail {
  width: 350px;
  position: absolute;
}

.thumbnail.one {
  top: 10px;
  right: -20px;
  width: 330px;
}

.thumbnail.two {
  bottom: 60px;
  right: 300px;
  width: 300px;
}

.thumbnail.three {
  bottom: 10px;
  right: 20px;
}

.thumbnail.four {
  top: -30px;
  right: 320px;

}

.thumbnail.five {
  top: 240px;
  right: 50px;
  width: 250px;
}


.thumbnail.six {
  bottom: 300px;
  right: 400px;
  width: 250px;
}
